doctype html5

html

	head
		link(rel='stylesheet', href='/css/main.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="/js/main.js")
	
	body
	
		#searchWrap
			form(action="", method="GET")
				input.keywords(type="text", name="keywords", value="#{search.keywords}")
				input.location(type="text", name="location", value="#{search.location}")
				button.button Go

		#resultsWrap
			#resultsInner

				a#jobsPrev(href="#{prevHref}") previous 
		
				ul#jobs
					- each job in jobs
						li.job
							a.link(href='#{job.url}')
								h2.jobTitle= job.title
								ul.details
									li= job.salary
									li= job.location
									li= job.applications
									li= job.date
			
				a#jobsNext.job.button(href="#{nextHref}") more jobs

		#jobViewWrap
			#jobViewInner
				h1.jobTitle
				#jobDescription
		
		#templates
		
			#jobTemplate
				li.job
					a.link
						h2.jobTitle
						ul.details
							li.salary
							li.location
							li.applications
							li.date
