doctype html5

html

	head
	
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/jquery-ui/jquery-ui-1.9.2.custom.css')
		
		link(rel='stylesheet', href='/css/main.css')
		
		//script(src="http://debug.phonegap.com/target/target-script-min.js#b8e275c4-a502-4a3d-90c2-fc41789ab6f2")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
		
		script(src="/js/jquery.ui.touch-punch.min.js")
		script(src="/js/spin.min.js")
		script(src="/js/json2.js")
		
		script(src="/js/main.js")
	
	body
	
		#options.searchLayoutTop.jobsLayoutCards
	
			#controlPanelWrap
				#controlPanelBtn
					a(href="#")
						i.icon-cog
					
				#controlPanel
					
					section
						h3 Search layout
						label
							input.option(type="radio", name="searchLayout", value="Left")
							span Left
						label
							input.option(type="radio", name="searchLayout", value="Top")
							span Top
			
					section
						h3 Job layout
						label
							input.option(type="radio", name="jobsLayout", value="Cards")
							span Cards
						label
							input.option(type="radio", name="jobsLayout", value="Rows")
							span Rows
							
					section
						h3 Excerpts
						label
							input.option(type="radio", name="excerpts", value="On")
							span On
						label
							input.option(type="radio", name="excerpts", value="Off")
							span Off
					
			#searchWrap
				form(action="", method="GET")
					input.keywords(placeholder="Search for job title, skills or companies", type="text", name="keywords", value="#{search.keywords}")
					input.location(placeholder="town or postcode", type="text", name="location", value="#{search.location}")
					//button.button Go
				
			#filtersWrap
				section.salaryWrap
					.salaryLabel Any salary
					ul#salaryGraph
						li.col1
						li.col2
						li.col3
						li.col4
						li.col5
					#salarySlider
					
				section.typesHoursWrap
				
					h2.toggleWrap
						a.toggle#toggleTypesHours(href="#")
							span.label Any job type
							i.icon-sort-down
						
					.collapse#collapseTypesHours
						ul.types
							li
								a(href="#", data-name="perm") Permanent
							li
								a(href="#", data-name="temp") Temp
							li
								a(href="#", data-name="contract") Contract
							
						ul.hours
							li
								a(href="#", data-name="fulltime") Full-time
							li
								a(href="#", data-name="parttime") Part-time
					
				section.suggestionsWrap
					h4 Suggestions
					ul.suggestions

			#resultsWrap	
				#resultsInner
				
					header
						h1#resultsTitle
						
						.sort
							a(href="#", data-value="KeywordRelevance").button.relevancy.selected
								span Most relevant
							a(href="#", data-value="DisplayDate").button.date
								span Most recent

					// a#jobsPrev(href="#{prevHref}") previous 
					
					#jobsWrap
						ul#jobs
						//	- each job in jobs
						//		li.job
						//			a.link(href='#{job.url}')
						//				h2.jobTitle(data-title="#{job.title}")= job.shortTitle
						//				ul.details
						//					li= job.salary
						//					li= job.location
						//				.icons
						//					.applicationsWrap
						//						i.icon-user
						//						span.applications= job.applications
						//					.dateWrap
						//						i.icon-calendar
						//						span.date= job.date
						//				.excerpt!= job.excerpt
			
						// a#jobsNext.job.button(href="#{nextHref}") more jobs
						
						.loading
					
			#scrollToTop
				a(href="#")
					i.icon-sort-up

			#jobViewWrap
				#jobViewInner
					#jobViewScroll
						h1.jobTitle
						#jobDescription
					#jobViewApplication
						a.button.applyBtn(href="#") Apply now
		
			#templates
			
				#suggestionTemplate
				
					li.suggestion
						a.link(href='#')
		
				#jobTemplate
					li.job
						a.link
							h2.jobTitle
						ul.details
							li.salary
							li.location
						.icons
							.applicationsWrap
								i.icon-user
								span.applications
							.dateWrap
								i.icon-calendar
								span.date
						.excerpt
