form(action="", method="GET")
	input(type="text", name="keywords", value="#{search.keywords}")
	input(type="text", name="location", value="#{search.location}")
	button Go

h1 Search results

ul
	- each job in jobs
		li.job= job.title
		
a(href="/api/jobs?url=#{prevHref}") previous 
a(href="/api/jobs?url=#{nextHref}") next
